.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icn {
  height: 50px;
  animation: App-logo-spin 1.5s cubic-bezier(.17,.67,.83,.67) infinite forwards;
}

.err {
  border: solid red 1px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.493);
  color: red;
}

ul {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
}

li {
  color: gray;
  list-style-type: none;
}

main {
  padding: 50px 20px;
}

#putForm,
#postForm {
  display: inline-flex;
  flex-direction: column;
}

#putForm li {
  display: flex;
  justify-content: space-between;
  border: solid gray 1px;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
}

#putForm div {
  margin: auto 0px;
}

#putForm p,
#putForm input {
  padding-right: 30px;
  margin: 15px
}

.itemText {
  max-width: 200px
}

